@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}
:root {
  --clr-light: #66bfff;
  --clr-dark: #324c5d;
  --clr-white: #f8f9fa;
  --clr-btnHov: #486274;
}
section{
  position: relative;
  min-height: 60vh;
  border: 2px red solid;
}
/* Full page and footer*/
#pageContainer{
  min-height: 100vh;
  padding-bottom: 100px;
}
footer#footer{
  height: 100px;
}
#footer-logo{
  width: 200px;
}
#linkedin{
  width: 50px;
}

/* Navbar */
nav {
  box-shadow: 0 0 7.5px var(--clr-dark);
  z-index: 100;
}
.navbar{
  position: fixed;
  width: 100%;
}
.navbar-light{
  font-size: 1.10em;
}
.navbar-brand{
  width: 20%;
}
#navbar-logo{
  width: 100%;
  transition: width 0.4s ease-in-out;
}
#navbar-ul{
  justify-content: space-between;
  width: 100%;
}

.nav-link{
  color: var(--clr-dark) !important;
  font-size: 1.15em;
  transition: font-size 0.4s ease-in-out;
}
.nav-link:hover{
  color: white !important;
  background-color: var(--clr-dark);
  box-shadow: 0 0 5px var(--clr-dark);
}
#login{
  color: white !important;
  background-color: var(--clr-dark);
}
/* for shrinking navbar on scroll */
.nav-shrink #navbar-logo{
  width: 75%;
}
.nav-shrink .nav-link{
  font-size: 1em;
}

/* Home page - Intro Carousel */
#intro-carousel{
  position: relative;
  padding-top: 65px
}
.carousel-slide{
  width: 100%;
  padding: 5% 10%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-dark);
}
.carousel-slide>div{
  width: 60%;
}
.w-100{
  width: 30% !important;
  height: 140%;
  object-fit: cover;
}
div#counters{
  background-color: var(--clr-dark);
  display: flex;
  justify-content: space-between;
}
div#counters div{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#counters *{
  color: var(--clr-white)
}
@media only screen and (max-width:550px){
  div#counters{
    margin-bottom: 5%;
  }
  div#counters h3{
    font-size: 22px;
  }
  div#counters h5{
    font-size: 14px;
    margin: 0;
  }
}
@media only screen and (max-width:290px){
  div#counters h3{
    font-size: 18px;
  }
  div#counters h5{
    font-size: 10px;
    margin: 0;
  }
}

/* Homepage -  mission section*/
#intro-mission{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5%
}

