body{
    background: rgb(102,191,255);
    background: linear-gradient(90deg, rgba(102,191,255,1) 0%, rgba(219,243,247,0.33657212885154064) 100%);
    position: absolute;
    background-attachment: fixed;
  }

/* to 'help' the Bootstrap modals: */
.modal-backdrop{
    width: 100%;
    height: 100%;
  }

  :root {
    --clr-light: #66bfff;
    --clr-dark: #324c5d;
    --clr-white: #f8f9fa;
    --clr-btnHov: #486274;
  }
  
  /* To cover the image to give fade effect */
  .whiteFadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
  }

  section .accordion-body {
    text-align: left;
  }

    /* All Buttons */
.learnMoreBtn{
  margin-top: 25px;
  /* margin: 0 auto 0 auto; */
  border: none;
  border-radius: 30px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  max-width: 200px;
  min-height: 50px;
  padding: 5px 15px;
  font-size: 25px;
  transition: background-color 0.3s;
}
.learnMoreBtn:hover{
  background-color: var(--clr-btnHov);
}

.hideBtn{
  border: none;
  border-radius: 30px;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  font-size: 1.15em;
  width: 150px;
  height: 50px;
  padding: 5px 15px;
  display: block;
  margin: auto auto;
  position: sticky;
  top: 125px;
  bottom: 10px;
  margin-right: 2%;
}

/* Link Styling */
.link{
  color: var(--clr-dark);
  text-decoration: underline;
}
.link:hover{
  color: var(--clr-dark);
  text-decoration: none;
}

section{
    min-height: 60vh;
    position: relative
}
section:nth-of-type(even){
    background-color: var(--clr-dark);
    color: white;
}

  /* Intro Section */
section#intro{
    margin-top: 0;
    padding: 50px 20% 50px 10%;
    display: flex;
    height: 100vh;
  
    background: url(../pics/small-group-learning.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: left;
  }


#title{
  /* position: relative; */
  left: 0;
  top: -100vh;
  margin-top: 85px;
  padding: 3%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(248, 249, 250,0.70);
}
@media only screen and (max-width:1000px){
  #title{
    width: 100%
  }
}

section#advantage{
    padding: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#advantage>h2{
    font-size: calc(1.5rem + 1.5vw);
    text-align: center;
    margin-bottom: 5%;
}
#advantage>h3{
    font-size: calc(1rem + 1.5vw);
}
#advantage-expl h2{
    text-align: center;
    margin: 5% 0;
}
.advantage-expl-inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.advantage-expl-inner:nth-of-type(even){
    flex-direction: row-reverse;
}
.advantage-expl-inner>div{
    flex: 1;
    min-width: 400px;
}
.advantage-expl-inner img{
    max-width: 100%;
}
.advantage-txt{
    padding: 0 2.5%
}
.advantage-txt>p {
    font-size: calc(1.5vw + 0.25rem);
}
#lrnMore{
    padding: 5% 0;
}
#lrnMore>h2{
    text-align: center;
}
#lrnMoreLnks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lrnMoreLnk{
    margin: 2.5% 5%;
    width: 250px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lrnMoreLnk:hover{
    color: white;
    text-decoration: underline;
}
.lrnMoreLnk>img{
    width: 225px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 5px; */
    box-shadow: 0 0 5px white;
}
.lrnMoreLnk>h5{
    text-align: center;
    margin: 2.5%;
}
/* Benefits page */
.BPL-intro{
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 30vh;
}
.benefits-dark{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%
}
.benefits-personalized{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.benefits-personalized:nth-of-type(even){
    flex-direction: row-reverse;
}
.benefits-personalized>*{
    padding: 2.5%
}
.benefits-txt{
    flex: 1;
}
.benefits-pic{
    flex: 1;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.benefits-personalized:nth-of-type(even) .benefits-pic{
    justify-content: flex-start;
}

.benefits-pic>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px var(--clr-dark);
}
@media(max-width: 800px){
    .benefits-personalized,
    .benefits-personalized:nth-of-type(even){
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .benefits-pic{
        justify-content: center;
        width: 100%;
        height: auto;
    }
}

/* Examples Section */
section#examples{
    padding: 5% 0;
    text-align: center;
  }
  @media only screen and (max-width:900px){
    #examples{
      margin-top: 50px;
    }
  }
  #bplExamplesAnchor{
    margin-top: -78px;
  }
  #examples h2{
    margin-bottom: 50px;
  }
  #examplesDiv{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .exampleDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 350px;
    height: 300px;
    /* border-radius: 3px; */
    margin: 5px 5px 50px 5px;
    padding: 10px;
    box-shadow: 0 0 5px var(--clr-light);
    transition: box-shadow 0.3s;
  }
  .exampleDiv:hover{
    box-shadow: 0 0 10px var(--clr-light);
  }
  .exampleDiv:hover .learnMoreBtn{
    background-color: var(--clr-btnHov);
  }
  .exampleDiv img{
    width: 180px;
    height: 140px;
    object-fit: cover
  }
  .exampleDiv h4{
    margin-top: 5px
  }
  .exampleDiv button{
    margin-bottom: 5px;
  }
#resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}
#BPL-resources{
    display: flex;
    flex-direction: row-reverse;
    padding: 2.5%
}
.resources-text{
    flex:3;
    padding: 2.5%
}
.resources-pic{
    flex:1;
    padding: 2.5%
}
.resources-pic>img{
    max-width: 100%;
    box-shadow: 0 0 5px var(--clr-dark);
}