/* Home page - Intro Carousel */
/* #intro-carousel{
    position: relative;
    padding-top: 65px;
  }
  @media(max-width:1050px){
    #intro-carousel{
      padding-top: 55px;
    }
  }
  .carousel-indicators{
    bottom: 20;
  }
  .carousel-item{
    height: 50vh;
    background-color: var(--clr-dark);
  }
  @media(max-width:500px){
    .carousel-item{
      height: 40vh;
    }
  }
  .carousel-slide{
    width: 100%;
    height: 75% 
  }
  .carousel-img{
    margin-top: 0;
    width: 100%;
    height: 40%;
  }
  .carousel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-link{
    width: 100%;
    height: 30%;
    padding: 1.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 2.5%;
    cursor: pointer;
    text-decoration: none;
  }
  .carousel-link:hover{
    color: var(--clr-light)
  }
  .carousel-title{
    margin-top: 5%;
    padding: 15% 5% 5% 5%;
  }
  @media(max-width:600px){
    .carousel-link h2{
      font-size: 1.15em;
    }
    .carousel-link h6{
      font-size: 0.8em;
    }
  } */

  .carousel{
    margin-top: 60px;
  }
  .carousel-slide{
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5%;
    position: relative;
    background-color: var(--clr-dark);
  }
  .carousel-img img{
    height: 32.5vh;
    width: 100%;
    object-fit: cover;
  }
  .carousel-link{
    min-height: 15vh;
    padding: 1.5% 10% 0 10%;
    color: var(--clr-white);
    text-decoration: none;
  }
  .carousel-link:hover{
    color: var(--clr-light)
  }
  .carousel-indicators{
    bottom: 0
  }
  /* Homepage -  mission section*/
  #intro-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #intro-mission>*{
    margin-top: 2.5%
  }
  #intro-mission-inner{
    position: static;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .intro-mission-half{
    flex: 1;
    position: relative;
  }
  .white-fade-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .intro-mission-txt{
    position: absolute;
    top: 15%;
    z-index: 10;
    width: 100%;
    height: 80%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .intro-mission-txt>h2,
  .intro-mission-half>img{
    max-width: 100%;
    height: 100%;
    object-fit: cover ;
  }
  .intro-mission-txt>a{
    width: fit-content;
    text-decoration: none;
  }
  .intro-mission-txt>a:hover{
    text-decoration: none;
    color: white;
  }
  /* Homepage - features section */
  #intro-features{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  .features-outer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-outer h2{
    margin-bottom: 5%;
  }
  #services{
    margin-bottom: 5%;
  }
  .features-inner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .provide-feature{
    margin: 0 auto;
    width:  30%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .provide-feature>img{
    width: 225px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 5px; */
    box-shadow: 0 0 5px white;
  }
  #intro-events{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  
  