 /* To cover the image to give fade effect */
 .whiteFadeCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: -1;
  }
/* About - BPL */
  #intro{
    margin-top: 0;
    padding: 50px 20% 50px 10%;
    display: flex;
    /* height: 100vh; */
  
    background: url(../pics/small-group-learning.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: left;
  }
  #title{
    /* position: relative; */
    left: 0;
    top: -100vh;
    margin-top: 85px;
    padding: 3%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(248, 249, 250,0.70);
  }
  #title-buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media only screen and (max-width:1000px){
    #title{
      width: 100%;
    }
  }
  @media only screen and (max-width:700px){
 
    #title h1{
      font-size: calc(1.175rem + 1.5vw);
    }
    #title h4{
      font-size: 1.25rem;
    }
    #title .link-btn{
      font-size: 1.25rem;
    }
  }
#advantage{
    text-align: center;
}
#pd-modal-dialog-videos, #pd-modal-dialog-brochures{
  max-width: 95% !important;
}


/* BPL packages */
.packages-header{
  background-color: (var(--clr-dark));
  padding-top: 50px;
}
.packages-header-btn-container{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.packages-header-btn-container .link-btn{
  margin: 2.5% 5%;
  min-width: 303px;
  font-size: 1.2rem;
}
#pd-packages-section h2{
  text-align: center;
  font-weight: bold;
  font-size: 1.65em;
}
#pd-packages-section .tps-txt{
  padding: 5%;
  background-color: rgba(72, 98, 116,0.5);
}
#pd-packages-section .tps-txt:nth-of-type(2){
  background-color: rgba(145, 92, 74, 0.5);
}
#pd-packages-section .tps-txt:nth-of-type(3){
  background-color: rgba(145, 127, 74, 0.5);
}
#pd-packages-section .thin-border{
  border: 1px solid var(--clr-white);
  padding: 5%;
  height: 100%;
}
#packages-include{ 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#packages-include h2{
  text-align: center;
  height: 100px;
  margin-top: 20px
}
.pckg12-include{
  flex: 2;
  min-width: 400px;
}
.pckg3-include{
  flex: 1;
  border-left: 1px solid var(--clr-dark);
  min-width: 225px;
}
@media(max-width:1000px) {
  .pckg3-include{
    border-left: none;
  }
}
.includes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.includes-inner{
  width: 90%;
  margin:10px;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: 1.5%;
  box-shadow: 0 0 10px var(--clr-dark);
}

/* Popup modals on top of page */
.modal-body{
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.events-inner-background{
  display: flex;
  justify-content: center;
  align-items: center;
}
.events-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition:0.5s;
  position: relative
}
.events-txt{
  position: relative;
  bottom: 210px;
  font-size: 1.25em;
  width: 90%;
  opacity: 0;
  transition: 0.5s
}
.events-inner>a:hover .events-img{
  opacity: 0.15;
}
.events-inner>a:hover .events-txt{
  opacity: 1.0;
}
.modal-text{
  color: white;
  text-align: center;
}
.modal-body>div{
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
@media(max-width:700px) {
  .modal-body>div{
    justify-content: space-between;
  }
}
.home-video{
  width: 100%;
  height: 80%;
  padding: 2.5%;
}

/* About Lomdei - counters  */
#counters-section{
  width: 90%;
  margin: 5% auto;
}
#counters-section>h2{
  font-size: 2.25em;
  text-align: center;
  margin-bottom: 5%;
}
#counters{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
#counters>div{
flex: 1;
min-width: 300px;
display: flex;
justify-content: space-around;
}
.counters-inner{
margin: 0 1.5%;
}
.counter{
  font-size: 3em;
}