@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
:root {
  --clr-light: #66bfff;
  --clr-dark: #324c5d;
  --clr-white: #f8f9fa;
  --clr-btnHov: #486274;
}
html{
    width: 100%;
    scroll-behavior: smooth;
}
body{
    background: rgb(102,191,255);
    background: linear-gradient(90deg, rgba(219,243,247,0.33657212885154064) 0%, rgba(50,76,93,0.5) 100%);
    position: absolute;
    background-attachment: fixed;
    width: 100%;
}
h2{
    font-size: 2.15em;
}
h4{
    font-size: 1.75em;
}
p{
    font-size: 1.15em;
}

.pageContainer{
    min-height: 100vh;
    padding-bottom: 100px;
    width: 100%;
}

/*Buttons and Links */
.link-btn{
    margin: 25px auto;
    border: none;
    border-radius: 30px;
    color: var(--clr-white);
    background-color: var(--clr-dark);
    min-height: 50px;
    padding: 10px 15px;
    font-size: 25px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.link-btn:hover{
  background-color: var(--clr-btnHov);
  color: white
}
.link{
    color: var(--clr-dark)
}
.link:hover{
    color: var(--clr-light);
}
/* Events */
.events{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.events-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.events-inner>a{
    width: 25%;
    min-width: 250px;
    margin: 5% 2.5%;
    text-decoration: none;    
    color: var(--clr-dark);
  }
  .events-inner-background{
    background-color: var(--clr-dark);
    width: 225px;
    height: 350px;
    color: white;
  }
  .events-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:0.5s;
    position: relative
  }
  .events-txt{
    position: relative;
    bottom: 210px;
    font-size: 1.25em;
    width: 90%;
    opacity: 0;
    transition: 0.5s
  }
  .events-inner>a:hover .events-img{
    opacity: 0.15;
  }
  .events-inner>a:hover .events-txt{
    opacity: 1.0;
  }

  /* HEADER */
  /* PAGES: about-lomdei, grants, contact, gallery, news */
  section.header{
    margin: 60px auto 2.5% auto;
    min-height: 30vh;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* INTRO TEXT */
  /* PAGES: contact, grants */
  .intro-text{
      width: 90%;
      margin: 5% auto;
  }
  .intro-text>*{
      margin-bottom: 2.5%;
  }

  /*TEXT-PICTURES SIDE BY SIDE  */
  /* PAGES: about-lomdei */
  .text-pic-side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .text-pic-side:nth-of-type(even){
    flex-direction: row-reverse;
  }
  .text-pic-side>*{
    padding: 2.5%
  }
  .tps-txt{
    flex: 1
  }
  .tps-pic{
    flex: 1;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .text-pic-side:nth-of-type(even) .tps-pic{
    justify-content: flex-start;
  }
  .tps-pic img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 5px var(--clr-dark);
  }
  @media(max-width:800px){
    .text-pic-side{
      flex-direction: column;
    }
    .text-pic-side:nth-of-type(even){
      flex-direction: column;
    }
    .tps-pic{
      width: 100%
    }
  }

  /* LEARN MORE */
  /* PAGES: about-lomdei, grants, schools */
  .learn-more{
        width: 90%;
        margin: 5% auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
  }
  .learn-more h4{
      text-align: center;
  }
  