/* Home page - Intro Carousel */
#intro-carousel{
    position: relative;
    padding-top: 65px;
  }
  @media(max-width:1050px){
    #intro-carousel{
      padding-top: 55px;
    }
  }
  .carousel-inner{
    height: 60vh;
  }
  .carousel-slide{
    width: 100%;
    height: 450px;
    background-color: var(--clr-dark);
  }
  .carousel-img{
    margin-top: 0;
    width: 100%;
    height: 50%;
  }
  .carousel-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carousel-link{
    width: 100%;
    height: 30%;
    padding: 1.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 2.5%;
    cursor: pointer;
    text-decoration: none;
  }
  .carousel-link:hover{
    color: var(--clr-light)
  }
  @media(max-width:600px){
    .carousel-link h6{
      font-size: 0.8em;
    }
  }
  
  /* Homepage -  mission section*/
  #intro-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #intro-mission>*{
    margin-top: 2.5%
  }
  #intro-mission-inner{
    position: static;
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .intro-mission-half{
    flex: 1;
    position: relative;
  }
  .white-fade-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .intro-mission-txt{
    position: absolute;
    top: 15%;
    z-index: 10;
    width: 100%;
    height: 80%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .intro-mission-txt>h2,
  .intro-mission-half>img{
    max-width: 100%;
    height: 100%;
    object-fit: cover ;
  }
  .intro-mission-txt>a{
    width: fit-content;
    text-decoration: none;
  }
  .intro-mission-txt>a:hover{
    text-decoration: none;
    color: white;
  }
  /* Homepage - features section */
  #intro-features{
    background-color: var(--clr-dark);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
  }
  .features-outer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-outer h2{
    margin-bottom: 5%;
  }
  #services{
    margin-bottom: 5%;
  }
  .features-inner{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .provide-feature{
    margin: 0 auto;
    width:  30%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .provide-feature>img{
    width: 225px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 5px; */
    box-shadow: 0 0 5px white;
  }
  #intro-events{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  
  